@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Draft Helper</h1>

<ul>
    <li>@Html.ActionLink("Teams", "Index", "Teams")</li>
    <li>@Html.ActionLink("Players", "Index", "Players")</li>
    <li>TBD</li>
    <li>TBD</li>
</ul>