@{
    ViewBag.Title = "Tools";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tools</h2>

<ul>
    <li>
        @Html.ActionLink("Start Draft", "StartDraft")
    </li>
    <li>
        @Html.ActionLink("Reset Draft", "ResetDraft")
    </li>
</ul>

